<%= form_for @zombie, html: { multipart: true } do |f| %>

  <% if zombie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zombie.errors.count, "error") %> prohibited this zombie from being saved:</h2>

      <ul>
      <% zombie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form class="custom">
  <div class="row">
<div class="large-6 columns">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
    
    </div>
      <div class="large-6 columns">
  <div class="field">
    <%= f.label :bio %>
    <%= f.text_field :bio %>
  </div>
    </div>



<div class="large-6 columns">
  <div class="field"  >
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>
      </div>
<div class="large-6 columns">
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
      </div>
<div class="large-6 columns">
  <div class="field">
    <%= f.label :rotten %>
    <%= f.check_box :rotten %>
  </div>
      </div>

<div class="large-6 columns">
      <div class="field" >
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>
      </div>
    <div class="actions">
    <%= f.submit 'crear zombie', class: 'button' %>
  </div>
    </div>
</form>


    


  
 <% end %>
