

<h1 class="z">Zombies</h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Nombre</th>
      <th>Biografia</th>
      <th>Edad</th>
      <th>e-mail</th>
      <th>Rotten</th>
      <th>Usuario que agrego</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zombies.each do |zombie| %>
    <tr>
      <td><%= image_tag zombie.avatar,class:"avatarx" %></td>
      <td><%= zombie.name %></td>
      <td><%= zombie.bio %></td>
      <td><%= zombie.age %></td>
      <td><%= zombie.email %></td>
      <td><%= zombie.rotten ? "yes" : "no"%></td>
      <%if zombie.user_id?%>
      <td><p><%= User.find(zombie.user_id).email%></p></td>
      <%else%>
      <td><strong>Usuario no registrado</strong></td>
      <%end%>

      <% if current_user.role == "contribuidor"%>

      <td class="small button success"><%= link_to 'Mostrar', zombie %></td>
      <td class="small button warning"><%= link_to 'Editar', edit_zombie_path(zombie) %></td>

      <%end%>

      <% if current_user.role == "editor"%>
      <td class="small button success"><%= link_to 'Mostrar', zombie %></td>
      <td class="small button warning"><%= link_to 'Editar', edit_zombie_path(zombie) %></td>
       <td class="small button alert"><%= link_to 'Borrar', zombie, method: :delete, data: {confirm: 'Esta seguro que quiere eliminarlo?'} %></td>
      <%end%>

    </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.role == "editor"%>
<a href="/zombies/new" class="small button success">Nuevo zombie</a>
<%end%>

      <% if current_user.role == "contribuidor"%>
<a href="/zombies/new" class="small button success">Nuevo zombie</a>
<%end%>
