
<p>
  <strong>Name:</strong>
  <%= @zombie.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @zombie.bio %>
</p>

<p>
  <strong>Age:</strong>
  <%= @zombie.age %>
</p>
<p>
  <strong>Email:</strong>
  <%= @zombie.email %>
</p>
<p>
  <strong>Rotten:</strong>
  <%= @zombie.rotten %>
</p>

<p class="avatarx">
  <strong>Avatar:</strong>
  <%= image_tag @zombie.avatar%>
    
</p>

 

<div id="brains">
<%= render :partial => @zombie.brains.reverse %>
</div>

<%= form_for([@zombie, Brain.new], remote: true) do |f| %>
 
<div class="field">
<%= f.label :flavor %>
<%= f.text_field :flavor %>     
</div>

<div class="field">
<%= f.label :iq %>
<%= f.number_field :iq %>     
</div>

<div class="field">
<%= f.label :fresh %>
<%= f.check_box :fresh %>     
</div>

  



<div class="actions">
<%= f.submit "Add brain"  %>

</div>


<% end %>


<%= link_to 'Edit', edit_zombie_path(@zombie) %> 
<%= link_to 'Back', zombies_path %>

